<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjb.admin.mapper.ExamMapper">

    <select id="list" resultType="com.hjb.admin.domain.exam.ExamVo">
        SELECT te.id, te.title, te.startTime, te.endTime, te.createTime, ts.nickname as createName, te.status
        FROM exam te left join admin ts on te.createBy = ts.userId
        <where>
            <if test="title !=null and title !='' ">
                AND te.title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="startTime != null and startTime != '' ">
                AND te.startTime >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND te.endTime &lt;= #{endTime}
            </if>
        </where>
        ORDER BY te.createTime DESC
    </select>
</mapper>